#box {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    border: 1px solid #000;
    position: relative;
    box-sizing: border-box;
    padding-top: 50px;
}

#box * {
    box-sizing: border-box;
}

#box .header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #222;
}

#box .header span {
    float: left;
    height: 100%;
    width: 100px;
    transition: all 0.3s;
    background-color: #fff;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    border-right: 1px solid #000;
}

#box .header span.ac,
#box .header span:hover {
    background-color: #ccc;
}

#box .main {
    width: 100%;
    height: 100%;
}

#box .main div {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    display: none;
}

#box .main div.active {
    display: block;
}