<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-8">
        <div class="page-header">
          <h1>表格案例 <small>Follow me!!!</small></h1>
        </div>
        <!-- 添加框 -->
        <div class="form-inline">
          <div class="form-group">
            <!-- 给input 进行双向绑定 -->
            <!-- v-model也有修饰符 -->
            <!-- v-model.trim  输入首尾空格过滤 -->
            <input v-model.trim="name" type="text" class="form-control" v-focus="" placeholder="请输入你理想的公司" />
          </div>
          <!-- 给按钮注册添加事件   v-bind动态绑定按钮是否可点 -->
          <button :disabled="!name" @click="addItem" class="btn btn-success">添加</button>
        </div>
        <!-- 搜索框 -->
        <div class="form-inline" style="margin: 20px 0">
          <div class="form-group">
            <input type="text" v-model="searchValue" class="form-control" placeholder="搜索关键字" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <table class="table table-hover">
          <thead>
            <th>#</th>
            <th>公司名称</th>
            <th>时间</th>
            <th>操作</th>
          </thead>
          <tbody>
            <!-- 使用v-for -->
            <tr v-for="(item,index) in filterList">
              <td>{{index+1}}</td>
              <td>{{item.name}}</td>
              <!-- 通过过滤器对日期进行处理 -->
              <td>{{item.date|formatDate}}</td>
              <td>
                <!-- 阻止a链接跳转    需要用调用的方式进行传参  ,下标作为参数-->
                <a href="#" @click.prevent="delItem(index)">删除</a>
              </td>
            </tr>
            <tr v-if="!list.length">
              <td colspan="4" style="color:#999">没有任何数据</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="./vue.js"></script>
  <script src="./moment.min.js"></script>
  <script>
    var vm = new Vue({
      el: '.container-fluid',
      data: {
        name: '',
        searchValue: '',
        list: [
          { name: '阿里巴巴', date: new Date() },
          { name: '字节跳动', date: new Date() },
          { name: '腾讯', date: new Date() },
        ]
      },
      methods: {
        addItem() {
          // unshift在头部添加数据
          this.list.unshift({ name: this.name, date: new Date() })
          // 清空输入框
          this.name = ''

        },
        delItem(i) {
          // alert(i)
          // 根据索引进行删除 从数组中移除数据
          if (confirm("是否删除数据")) {
            // 1)splice
            // this.list.splice(i, 1)


            // 2)数组filter
            // 将不需要删除的找出
            // this.list = this.list.filter(function (item, index) { return index !== i })

            // 3) 简写
            this.list = this.list.filter((item, index) => index !== i)
          }


        }
      },
      // 处理日期的局部过滤器
      filters: {
        formatDate: function (value) {
          return moment(value).format("YYYY-YY-DD HH:mm:ss")
        }
      },
      directives: {
        focus: {
          inserted(dom) {
            dom.focus()
          }
        }
      },
      computed: {
        filterList() {
          // this 指向vm
          this.list  //数组
          this.searchValue  //关键字
          return this.list.filter(item => {
            return item.name.includes(this.searchValue)
          })
        }
      }
    })
  </script>
</body>

</html>